In [1]:
from utils import get_klines, build_features_by_data, y_to_bins
from binance.client import Client
import pandas as pd
import numpy as np

from models.random_forest import RandomForest

C:\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [ ]:
# Hyper parameters:
CUTOFF = 0.15  # in percents. The minimal value of ascending
N_ESTIMATORS = 100

In [2]:
s_date = '01 Jan, 2019'
e_date = '03 Jan 2019'
symbol = 'BTCUSDT'
interval = Client.KLINE_INTERVAL_12HOUR

In [8]:

kl_f_name = symbol + '_' + s_date + '_TO_' + e_date + '.csv'
# klines = get_klines(s_date, e_date, symbol, interval)
# klines.to_csv('klines/30M/' + kl_f_name, index=False)
klines = pd.read_csv('klines/30M/' + kl_f_name)

In [9]:
klines.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>Number of trades</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3701.23</td>
      <td>3713.00</td>
      <td>3689.88</td>
      <td>3700.31</td>
      <td>686.367420</td>
      <td>5534.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3700.20</td>
      <td>3702.73</td>
      <td>3684.22</td>
      <td>3689.69</td>
      <td>613.539115</td>
      <td>5086.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3689.67</td>
      <td>3695.95</td>
      <td>3675.04</td>
      <td>3690.00</td>
      <td>895.302181</td>
      <td>6391.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3690.00</td>
      <td>3699.77</td>
      <td>3685.78</td>
      <td>3693.13</td>
      <td>796.714818</td>
      <td>5709.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3692.32</td>
      <td>3720.00</td>
      <td>3685.94</td>
      <td>3692.71</td>
      <td>1317.452909</td>
      <td>7908.0</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
features_f_name = symbol + '_' + s_date + '_TO_' + e_date + '.csv'
# features = build_features_by_data(klines)
# features.to_csv('features/30M/' + features_f_name, index=False)
features = pd.read_csv('features/30M/' + features_f_name)
features['TO_PREDICT'] = features['close'].shift(-1)
features['TO_PREDICT'] = features['TO_PREDICT']/features['close']

In [21]:

features = y_to_bins(features, 'TO_PREDICT', CUTOFF)

In [22]:
l = features.shape[0]
X_train = np.array(features.iloc[:int(0.8*l)].drop('y_bins', axis=1))
X_valid = np.array(features.iloc[int(0.8*l):].drop('y_bins', axis=1))
y_train = np.array(features['y_bins'].iloc[:int(0.8*l)])
y_valid = np.array(features['y_bins'].iloc[int(0.8*l):])
df_valid = features.iloc[int(0.8*l):]

In [23]:
model = RandomForest(n_estimators=N_ESTIMATORS)

In [24]:
model.fit(
    X=X_train,
    y=y_train)

In [25]:
df_valid['predictions'] = model.predict(df_valid.drop('y_bins', axis=1))
pred_file_name = 'try.csv'
df_valid.to_csv('predictions/'+pred_file_name)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.